<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja-JP" lang="ja-JP">
<head>
  <meta charset="utf-8" />
  <meta name="copyright" content="" />
  <meta name="keywords" content="DUMMY DUMMY DUMMY DUMMY" />
  <meta name="discription" content="DUMMY DUMMY DUMMY DUMMY" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="shortcut icon" href="" />
  <link rel="apple-touch-icon-precomposed" href="" />
  <link rel="stylesheet" type="text/css" href="" />
  <title>backbonejs</title>
  <style>
    .completed {
      text-decoration: line-through;
      color: gray;
    }
  </style>
</head>
<body>
  <h1>Tasks</h1>

  <form id="addTask">
    <input type="text" id="title">
    <input type="submit" value="add">
    <span id="error"></span>
  </form>

  <div id="tasks"></div>
  <p>Tasks left: <span id="count"></span></p>

  <script type="text/template" id="task-template">
    <input type="checkbox" class="toggle" <%=completed ? 'checked': '' %>>
    <span class="<%= completed ? 'completed' : '' %>">
      <%- title %>
    </span>
    <span class="delete">[x]</span>
  </script>


  <script src="js/underscore.js"></script>
  <script src="js/jquery-2.0.0.js"></script>
  <script src="js/backbone.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
